/* HomePage.css */
.header {
  background-color: #946274;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 70px; /* Adjust the width as needed */
  height: auto;
  margin-left: 20px;
  border-radius: 45%;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 15px;
  color: white;
}
nav a {
color: #000;
}
/* styles.css */

.hero-msg {
  flex: 1;
  text-align: left;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Add a semi-transparent background to text */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow to the text box */
}

.hero-title {
  font-size: 24px;
  font-weight: bold;
}

.hero-description {
  font-size: 18px;
}

#hero {
  display: flex; /* Make the content and image side by side */
  justify-content: space-between; /* Put them at the ends of the main section */
  align-items: center; /* Center vertically */
  padding: 150px; /* Add some padding around the content */
  background-color: #f4f4f4; /* Add a background color */
}

.hero-img {
  max-width: 90%;
  height: auto;
  flex: 1; /* This will place the image on the right */
  display: flex;
  justify-content: flex-end;
}

.features ul {
  list-style: none;
}

.features li {
  margin: 10px 0;
}

.cta {
  text-align: center;
  padding: 30px 0;
}

.cta-btn {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
}



/*Upcoming events*/
.upcoming-events {
  margin-top: 20px;
  padding: 20px;
  background-color: #f4f4f4;
  text-align: center;
}

.upcoming-events h2 {
  font-size: 24px;
  color: #333;
}

.event-container {
  display: flex;
  justify-content: space-between;
}

.event-box {
  flex: 1;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  text-align: center;
}

.event-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.1);
}

.event-box img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  filter: blur(0);
  transition: filter 0.2s;
}

.event-name {
  font-weight: bold;
}

.event-box:hover .event-name {
  font-weight: bold;
}

.event-description {
  margin-top: 10px;
  font-size: 16px;
  color: #555;
}

.event-button {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.event-button:hover {
  background-color: #0056b3;
}

/* EventPage*/

.event-header {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
}

.event-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}
.filter-section {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.filter-section label {
  font-size: 16px;
  margin-right: 10px;
}

.filter-section input[type="checkbox"] {
  margin-right: 5px;
}


select {
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.event-list-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.event-card {
  flex-basis: calc(33.33% - 20px);
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.event-card img {
  max-width: 100%;
  border-radius: 5px;
  transition: filter 0.3s;
}

.event-card:hover img {
  filter: blur(2px);
}

.event-details h2 {
  font-size: 20px;
  margin: 10px 0;
}

.event-details p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.view-button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.view-button:hover {
  background-color: #555;
}

.view-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.view-more-button:hover {
  background-color: #555;
}



/* SignUp Page */
.sign-up-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.sign-up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.sign-up-form {
  flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.sign-up-form h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin: 10px 0;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sign-up-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #946274;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  margin: 20px 0;
}

.sign-up-button:hover {
  background-color: #7d5144;
}

.google-sign-up {
  text-align: center;
  margin: 20px 0;
}

.google-sign-up p {
  margin-bottom: 10px;
}

.google-sign-up img {
  cursor: pointer;
  max-width: 50px;
}

p {
  text-align: center;
}

a {
  color: #946274;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

/* Image on the right */
.sign-up-image {
  flex: 1;
  text-align: center;
}

.sign-up-image img {
  max-width: 500px;
  height: 600px;
}


/* Host Page*/

.host-event-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
}
.host-event-forms {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

form {
  background-color: white;
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  width: 45%;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="file"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
}

.event-details-form {
  width: 48%;
}

input[type="file"] {
  height: 45px;
}

.host-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  transition: background-color 0.3s;
}

.host-button:hover {
  background-color: #555;
}


footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}

/* About us Page */

/* Add your global styles here */

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.about-us-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation Bar */
.header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 50px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Mission Section */
.mission-section {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.mission-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mission-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

/* Vision Section */
.vision-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.vision-image {
  width: 45%;
  height: 100%;
  object-fit: cover;
}

.vision-text {
  width: 45%;
}

/* Contact Us Section */
.contact-us-section {
  margin-top: 40px;
}

.about-us-form-group {
  margin-bottom: 20px;
}

.about-us-form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.about-us-form-group input,
.about-us-form-group textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 10px;
}

.send-button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.send-button:hover {
  background-color: #555;
}

.success-message {
  color: green;
  margin-top: 10px;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
